@model ListModel

<div class="list">
	@if(!Model.IsEmpty && Model.Items.Any())
	{
		<ul>
			@foreach(var item in Model.Items)
			{
				<li class="item">
					@Html.RenderCount(item.Number)
					<div class="subtitle">[TODO]</div>
				</li>
			}
		</ul>
	}

	<div class="paging">
		<div class="page-navigation">
			@if(Model.IsEmpty)
			{
				<div class="empty-message">@Model.EmptyMessage</div>
			}
			else
			{
				if(Model.Pages.Current.Value.Value == 1)
				{
					<div class="page jump unavailable">&lt;-</div>
					<div class="page jump unavailable">&lt;</div>
				}
				else
				{
					<div class="page jump">@Html.RenderCount(Model.Pages.First, "|<")</div>
					<div class="page jump">@Html.RenderCount(Model.Pages.Previous, "<")</div>
				}

				foreach(var page in Model.Pages.All)
				{
					if(page.Value == Model.Pages.Current.Value)
					{
						<div class="page current">@Html.RenderCount(page)</div>
					}
					else
					{
						<div class="page">@Html.RenderCount(page)</div>
					}
				}

				if(Model.Pages.Current.Value == Model.Pages.Last.Value)
				{
					<div class="page jump unavailable">-&gt;</div>
					<div class="page jump unavailable">&gt;</div>
				}
				else
				{
					<div class="page jump">@Html.RenderCount(Model.Pages.Next, ">")</div>
					<div class="page jump">@Html.RenderCount(Model.Pages.Last, ">|")</div>
				}
			}
		</div>

		@if(!Model.IsEmpty)
		{
			<div class="view">
				<div class="separator">items</div>
				<div class="number">@Html.RenderCount(Model.Items.First)</div>
				<div class="separator">to</div>
				<div class="number">@Html.RenderCount(Model.Items.Last)</div>
				<div class="separator">of</div>
				<div class="number">@Html.RenderCount(Model.Items.Total)</div>
			</div>
		}
	</div>

	<div class="footer"></div>
</div>