@model ListModel

<div class="list">
	@if(!Model.IsEmpty && Model.Page.Items.Any())
	{
		<ul>
			@foreach(var item in Model.Page.Items)
			{
				<li class="item">
					@Html.RenderNumber(item.Number)
					<div class="subtitle">[TODO]</div>
				</li>
			}
		</ul>
	}

	<div class="paging">
		<div class="page-navigation">
			@if(Model.IsEmpty)
			{
				<div class="empty-message">@Model.EmptyMessage</div>
			}
			else
			{
				if(Model.Page.Number.Value.Value == 1)
				{
					<div class="page jump unavailable">&lt;-</div>
					<div class="page jump unavailable">&lt;</div>
				}
				else
				{
					<div class="page jump">@Html.RenderNumber(Model.PageContext.First, "|<")</div>
					<div class="page jump">@Html.RenderNumber(Model.PageContext.Previous, "<")</div>
				}

				foreach(var page in Model.PageContext.Pages)
				{
					if(page.Value == Model.Page.Number.Value)
					{
						<div class="page current">@Html.RenderNumber(page)</div>
					}
					else
					{
						<div class="page">@Html.RenderNumber(page)</div>
					}
				}

				if(Model.Page.Number.Value == Model.PageContext.Last.Value)
				{
					<div class="page jump unavailable">-&gt;</div>
					<div class="page jump unavailable">&gt;</div>
				}
				else
				{
					<div class="page jump">@Html.RenderNumber(Model.PageContext.Next, ">")</div>
					<div class="page jump">@Html.RenderNumber(Model.PageContext.Last, ">|")</div>
				}
			}
		</div>

		@if(!Model.IsEmpty)
		{
			<div class="view">
				<div class="separator">items</div>
				<div class="number">@Html.RenderNumber(Model.Page.FirstItem)</div>
				<div class="separator">to</div>
				<div class="number">@Html.RenderNumber(Model.Page.LastItem)</div>
				<div class="separator">of</div>
				<div class="number">@Html.RenderNumber(Model.PageContext.ItemCount)</div>
			</div>
		}
	</div>

	<div class="footer"></div>
</div>